* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

:root {
  --color-success: rgb(34, 211, 93);
  --color-error: rgb(236, 121, 110);
}

body:nth-child(header, main) {
  display: flex;
}

body {
  background-color: #000000;
  background-image: url("../image/JamesBond2.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 15%;
  font-family: "Segoe UI", "Roboto", Tahoma;
  min-height: 100vh;
}

header, main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* header {
  width: 800px;
  height: 600px;
  margin: 10px auto;
  box-shadow: 0px 2px 5px rgba(0,0,0,.4);
  box-shadow: 8px 10px 66px 1px rgba(0, 0, 0, 0.4);
} */

.navbar {
  padding: 20px 0;
  /* flex: 1; */
  /* position: relative; */
  /* background-color: rgba(229, 229, 229, 0.7);
  float: left;
  width: 250px;
  height: 100%; */
}

/* ul */
.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

/* li */
.list-category {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-category a {
  display: block;
  width: 120px;
  padding: 10px 0;
  background-color: white;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.list-category a:hover {
  background-color: black;
  color: white;
}

.details-movie, .list-genres, .details-genre, .update-genre, .delete-genre, .container, .details-actor, .films-actor, .add-actor, .add-genre, .footer-cinema {
  width: 100%;
  background-color: white;
  filter: opacity(0.9);
  padding: 20px 0;
}


/* List of Movies */
.container {
  flex: 2;
}

.container > h1 {
  display: flex;
  justify-content: center;
}

.list-movies {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-bottom: 15px;
}

.badge {
  margin: 0 10px;
  padding: 5px 18px;
  border-radius: 50%;
  background-color: white;
}

/* .container-movies {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
} */

.title-movie {
  display: flex;
  justify-content: center;
}

/* DetailsMovie */

.details-movie-title {
  padding: 10px 0;
}

.poster {
  padding: 20px 0;
}

.details-movie {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.card > p {
  padding: 10px 0;
}

/* List Genres */

.list-genres {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}

/* table, th, td {
  border: 1px solid black;
} */

.table-list-genres {
  width: 50%;
  padding: 10px 30px;
  border-radius: 8px;
  background-color: black;
}

td {
  padding: 10px 0;
}

td > a, th {
  color: white;
  text-decoration: none;
}

.td-a-border {
  padding: 4px 15px;
  border: 1px solid white;
  border-radius: 6px;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(163, 9, 9);
  color: #fff;
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

/* Details Genre */
/* .details-genre {

} */

/* Add Genre */
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-success {
  border: 1px solid var(--color-success);
  color: var(--color-success);
}

.text-error {
  border: 1px solid var(--color-error);
  color: var(--color-error);
}

/* UPDATE GENRE */
/* .update-genre {

} */

/* DELETE GENRE */
/* .delete-genre {

} */

/* InsertMovie */

h2 {
  display: flex;
  justify-content: center;
}

/* List Actors */
/* .container {

} */

.list-divider > li {
  list-style: none;
}

/* Details Actor */
/* .details-actor {

} */

/* Actor's Film */
/* .films-actor {

} */

/* Add Actor Form */
/* .add-actor {

} */

/* Add Actor Form */
/* .add-genre {

} */

/* FOOTER */
.footer-cinema {
  color: whitesmoke;
  padding: 10px;
  background-color: rgb(163, 9, 9);
}