* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

:root {
  --color-success: rgb(34, 211, 93);
  --color-error: rgb(236, 121, 110);
}

body:nth-child(header, main) {
  display: flex;
}

body {
  background-color: #000000;
  background-image: url("../image/JamesBond2.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 15%;
  font-family: "Segoe UI", "Roboto", Tahoma;
  min-height: 100vh;
}

header, main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main {
  padding-bottom: 20px
}

/* header {
  width: 800px;
  height: 600px;
  margin: 10px auto;
  box-shadow: 0px 2px 5px rgba(0,0,0,.4);
  box-shadow: 8px 10px 66px 1px rgba(0, 0, 0, 0.4);
} */

.navbar {
  padding: 20px 0;
  /* flex: 1; */
  /* position: relative; */
  /* background-color: rgba(229, 229, 229, 0.7);
  float: left;
  width: 250px;
  height: 100%; */
}

/* ul */
.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

/* li */
.list-category {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-category a {
  display: block;
  width: 120px;
  padding: 10px 0;
  background-color: white;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.list-category a:hover {
  background-color: black;
  color: white;
}

.details-movie, .list-genres, .details-genre, .update-genre, .delete-genre, .list-actors, .details-actor, .films-actor, .add-actor, .add-genre, .footer-cinema {
  width: 100%;
  background-color: white;
  filter: opacity(0.9);
  padding: 20px 0;
  border-radius: 6px;
}


/* List of Movies */
.container {
  flex: 2;
}

.container > h1 {
  display: flex;
  justify-content: center;
}

.list-movies {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-bottom: 15px;
}

.badge {
  margin: 0 10px;
  padding: 5px 18px;
  border-radius: 50%;
  background-color: white;
}

/* .container-movies {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
} */

.title-movie {
  display: flex;
  justify-content: center;
}

/* DetailsMovie */

.details-movie-title {
  padding: 10px 0;
}

.poster {
  padding: 20px 0;
}

.details-movie {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.card > p {
  padding: 10px 0;
}

/* List Genres */

.list-genres {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}

/* table, th, td {
  border: 1px solid black;
} */

.table-list-genres {
  width: 50%;
  padding: 10px 30px;
  border-radius: 8px;
  background-color: black;
}

/* Title column */
#th-title-column {
  padding: 10px 0;
  color: white;
}

.td-label-border {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Link to genre details */
.td-label-border a {
  display: block;
  width: 160px;
  padding: 10px 0;
  background-color: black;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.td-label-border a:hover {
  background-color: white;
  color: black;
}

/* update or delete */
.td-update-delete a {
  color: white;
  text-decoration: none;
}

/* ALL <a>  */
.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(163, 9, 9);
  color: #fff;
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

/* Details Genre */
.ul-list-movies {
  padding: 10px 0;
}

.span-label-background-color {
  padding: 0 5px;
  background-color: black;
  color: white;
}

/* Add Genre */
.flex-col {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.text-success {
  border: 1px solid var(--color-success);
  color: var(--color-success);
}

.text-error {
  border: 1px solid var(--color-error);
  color: var(--color-error);
}

/* UPDATE GENRE */
.form-flex-column {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.form-label-center, .form-input-center {
  width: 20%;
}

.form-label-center {
  font-size: 1.2em;
  font-weight: bold;
}

.form-input-center {
  font-size: 1.1em;
}

form > button {
  font-size: 1.1em;
}

/* DELETE GENRE */
/* .delete-genre {

} */

/* InsertMovie */

h2 {
  display: flex;
  justify-content: center;
}

/* List Actors */
.list-actors {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;
  align-items: center; */
}

.list-actors > .button-link {
  margin-top: 20px;
}

.actor-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  /* border: 1px solid #ccc; */
}

.div-list-actors {
  flex: 1;
  display: flex;
  align-items: center;
}

.div-list-actors a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}

.div-update-delete {
  padding: 5px;
}

/*  */

.list-divider {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.list-divider > li {
  list-style: none;
}

/* Icon hidden by default */
.actor-icon {
  display: none;
}

.li-list-actors:hover .actor-icon {
  display: inline-block;
}

.li-list-actors a {
  display: block;
  width: 190px;
  padding: 10px 0;
  background-color: black;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.li-list-actors a:hover {
  background-color: white;
  color: black;
}

/* Details Actor */
.details-actor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.informations-casting-actor p {
  font-size: 1.2em;
}

.informations-casting-actor a {
  width: 120px;
}

/* Add Actor Form */
/* .add-actor {

} */

/* Add Actor Form */
/* .add-genre {

} */

/* FOOTER */
.footer-cinema {
  color: whitesmoke;
  padding: 10px;
  background-color: rgb(163, 9, 9);
}