* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

:root {
  --color-success: rgb(34, 211, 93);
  --color-error: rgb(236, 121, 110);
}

body:nth-child(header, main) {
  display: flex;
}

body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Ccircle stroke='%23D60' vector-effect='non-scaling-stroke' id='a' fill='none' stroke-width='5' r='315'/%3E%3Cuse id='f' href='%23a' stroke-dasharray='100 100 100 9999'/%3E%3Cuse id='b' href='%23a' stroke-dasharray='250 250 250 250 250 9999'/%3E%3Cuse id='e' href='%23a' stroke-dasharray='1000 500 1000 500 9999'/%3E%3Cuse id='g' href='%23a' stroke-dasharray='1500 9999'/%3E%3Cuse id='h' href='%23a' stroke-dasharray='2000 500 500 9999'/%3E%3Cuse id='j' href='%23a' stroke-dasharray='800 800 800 800 800 9999'/%3E%3Cuse id='k' href='%23a' stroke-dasharray='1200 1200 1200 1200 1200 9999'/%3E%3Cuse id='l' href='%23a' stroke-dasharray='1600 1600 1600 1600 1600 9999'/%3E%3C/defs%3E%3Cg transform='translate(1000 750)' %3E%3Cg transform='rotate(0 0 0)' %3E%3Ccircle fill='%23D60' r='10'/%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23f' transform='scale(.1) rotate(50 0 0)' /%3E%3Cuse href='%23f' transform='scale(.2) rotate(100 0 0)' /%3E%3Cuse href='%23f' transform='scale(.3) rotate(150 0 0)' /%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23b' transform='scale(.4) rotate(200 0 0)' /%3E%3Cuse href='%23z' transform='scale(.5) rotate(250 0 0)' /%3E%3C/g%3E%3Cg id='z' transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23b'/%3E%3Cuse href='%23b' transform='scale(1.2) rotate(90 0 0)' /%3E%3Cuse href='%23b' transform='scale(1.4) rotate(60 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.6) rotate(120 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.8) rotate(30 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg id='y' transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23e' transform='scale(1.1) rotate(20 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.3) rotate(-40 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.5) rotate(60 0 0)' /%3E%3Cuse href='%23h' transform='scale(1.7) rotate(-80 0 0)' /%3E%3Cuse href='%23j' transform='scale(1.9) rotate(100 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23h' transform='scale(2) rotate(60 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.1) rotate(120 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.3) rotate(180 0 0)'/%3E%3Cuse href='%23h' transform='scale(2.4) rotate(240 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.5) rotate(300 0 0)'/%3E%3C/g%3E%3Cuse href='%23y' transform='scale(2) rotate(180 0 0)' /%3E%3Cuse href='%23j' transform='scale(2.7)'/%3E%3Cuse href='%23j' transform='scale(2.8) rotate(45 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.9) rotate(90 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.1) rotate(135 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.2) rotate(180 0 0)'/%3E%3C/g%3E%3Cuse href='%23k' transform='scale(3.3) rotate(225 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.5) rotate(270 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.6) rotate(315 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.7)'/%3E%3Cuse href='%23k' transform='scale(3.9) rotate(75 0 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 15%;
  /* background-image: url('image/parabolic-pentagon.png');
  object-fit: cover; */
  /* background-color: rgb(175, 131, 0); */
  font-family: "Segoe UI", "Roboto", Tahoma;
  min-height: 100vh;
}

header, main {
  display: flex;
  flex-direction: row;
}


/* header {
  width: 800px;
  height: 600px;
  margin: 10px auto;
  box-shadow: 0px 2px 5px rgba(0,0,0,.4);
  box-shadow: 8px 10px 66px 1px rgba(0, 0, 0, 0.4);
} */


.navbar {
  flex: 1;
  /* position: relative; */
  background-color: rgba(229, 229, 229, 0.7);
  float: left;
  width: 250px;
  height: 100%;
}

/* ul */
.category {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* li */
.list-category {
  display: flex;
  justify-content: center;
  padding: 15px 5px;
  list-style: none;
  border: 1px solid black;
  background-color: beige;
}

.list-category > a {
  text-decoration: none;
  color: black;
}


/* List of Movies */
.container {
  flex: 2;
}

.container > h1 {
  display: flex;
  justify-content: center;
}

.list-movies {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-bottom: 15px;
}

.badge {
  margin: 0 10px;
  padding: 5px 18px;
  border-radius: 50%;
  background-color: white;
}

/* .container-movies {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
} */

.title-movie {
  display: flex;
  justify-content: center;
}

/* DetailsMovie */

.details-movie-title {
  padding: 10px 0;
}

.poster {
  padding: 20px 0;
}

.details-movie {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.card > p {
  padding: 10px 0;
}

/* List Genres */

.list-genres {
  width: 100%;
  background-color: beige;
  filter: opacity(0.9);
}

/* Add Genre */
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-success {
  border: 1px solid var(--color-success);
  color: var(--color-success);
}

.text-error {
  border: 1px solid var(--color-error);
  color: var(--color-error);
}

/* InsertMovie */

h2 {
  display: flex;
  justify-content: center;
}

/* List Actors */
.container {
  width: 100%;
  background-color: beige;
  filter: opacity(0.9);
}